﻿<body id="page-top">

    <!--Navbar disabled for now-->
    <script>
	$(document).ready(function() {
	    $(window).scroll(function() {
	        var scroll = $(window).scrollTop();
	        if (scroll > 10) {
	            $('.bg-secondary').css("background-color", "#181425");
	        } else {
	            $('.bg-secondary').css("background-color", "#0095E9");
	        }
	    });
	});
    </script>

    


    <!-- Header -->
    <article id="one" data-color="#10e88a">
        <header class="masthead bg-primary text-white text-center">
            <div class="container">
                <img class="img-fluid mb-5 d-block mx-auto" src="images/nodes.png" style="max-width: 256px;">
                <h1 class="text-uppercase mb-0">Sharen<pichart></pichart>des</h1>
                <hr class="line">
                <h5 class="font-weight-light mb-0">The platform that allows anyone to own a masternode</h5>
            </div>
        </header>
    </article>
<!-- Sliderpractice
<section class="Slider" id="Slider">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Slider</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-3 mb-3"> </div>
            <div class="col-md-6 mb-6">

                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p style= "text-align: center;">Investment: $<span id="demo"></span></p>
                </div>

                <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
            </script>

            </div>
            <div class="col-md-3 mb-3"> </div>

            <div class="form-group">
                <label for="sel1">Select lock in time:</label>
                <select class="form-control" id="sel1">
                    <option>1 week - 50% return</option>
                    <option>1 month - 60% return</option>
                    <option>3 months - 70% return</option>
                    <option>6 months - 80% return</option>
                    <option>1 year - 90% return</option>
                </select>
            </div>

        </div>
    </div>
</section>
-->

        <!-- Transition -->

        <div class="jumbotron" id="transitionimg">
        </div>

        <!-- Package Grid Section -->
        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Available Nodes</h2>
                <hr class="star-dark mb-5">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card h-10">
                            <div class="card-body">
                                <h2 class="card-title">Crown SN</h2> <h3><img src="images/crown.png" alt="crown-sn" style="width:1.5em"> <span class="badge badge-pill badge-primary">CRW-SN</span></h3>
                                
                                    <ul class="card-text">
                                        <li>Node size:</li>
                                        <li>Coin price: </li>
                                        <li>Roi: </li>
                                    </ul>
                               
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary"><glass></glass>View Node</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Neutron</h2> <h3><img src="images/Neutron.png" alt="crown-sn" style="width:1.5em"> <span class="badge badge-pill badge-primary">NTRN</span> </h3>
                                    <ul class="card-text">
                                        <li>Node size:</li>
                                        <li>Coin price:</li>
                                        <li>Roi: </li>
                                    </ul>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary"><glass></glass>View Node</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">ArcticCoin</h2> <h3><img src="images/Arcticcoin.png" alt="crown-sn" style="width:1.5em"> <span class="badge badge-pill badge-primary">ARC</span> </h3>
                                    <ul class="card-text">
                                        <li>Node size: 1,000 coins</li>
                                        <li>Coin price: $0.2874</li>
                                        <li>Roi: 5.55%</li>
                                    </ul>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary"><glass></glass>View Node</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#">
                        <i class="fa fa-search mr-2"></i>
                        View All Nodes
                    </a>
                </div>
            </div>
        </section>

        <!--
        <div class="jumbotron" id ="transitionimgback" >
        </div>

        <!-- About Section -->
        <section class="bg-primary text-white mb-0" id="about">
            <div class="container">
                <h2 class="text-center text-uppercase text-white">About</h2>
                <hr class="star-light mb-5">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization. Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </section>

        <!--
        <div class="jumbotron" id ="transitionimg" >
        </div>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">FAQ</h2>
                <hr class="star-dark mb-5">
                <div class="row">
                    <div class="col-md-8 mx-auto">


                    </div>
                </div>
            </div>
        </section>

        <!--
        <div class="jumbotron" id ="transitionimgfooter" >
        </div>

        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            Eindhoven
                            <br>The Netherlands
                        </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fa fa-fw fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fa fa-fw fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fa fa-fw fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fa fa-fw fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                    <i class="fa fa-fw fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase mb-4">About Sharenodes</h4>
                        <p class="lead mb-0">
                            Sharenodes is a free to use masternode sharing platform powered by
                            <a href="https://v4-alpha.getbootstrap.com/">Bootstrap 4</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Sharenodes LLC</small>
            </div>
        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    
</body>
