﻿<head>
        <title>Sign Up - Sharenodes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/login.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
        <!--===============================================================================================-->
</head>
<body>

    <script>
    $('.bg-secondary').css("background-color", "#181425");
    </script>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">

                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27 mx-auto">
                        <h1 class="text-uppercase mb-0">Sharen<pichart></pichart>des</h1>
                    </span>
                    <hr class="star-light mb-5 mx-auto">
                    <div class="wrap-input100 validate-input" data-validate="Enter E-mail">
                        <input class="input100" type="text" name="username" placeholder="E-mail">
                        <span class="focus-input100" data-placeholder="&#xf007;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf023;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Verify password">
                        <input class="input100" type="password" name="pass" placeholder="Verify Password">
                        <span class="focus-input100" data-placeholder="&#xf023;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            I agree to the terms and conditions
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Terms and Conditions
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    @*<!--===============================================================================================-->
        <script src="~/lib/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/lib/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/lib/bootstrap/js/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/lib/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/lib/daterangepicker/moment.min.js"></script>
        <script src="~/lib/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/lib/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/js/main.js"></script>*@

</body>
