﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In</title>
</head>
<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li>
                    <a class="active-tab" href="#"><i class="fa fa-pie-chart"></i> Nodes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="max-width: 1280px;">
                <h2 class="text-center" style="margin-bottom: 32px;">Buy a node</h2>
                <form>
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Sign in</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <label for="inputEmail" class="sr-only">Email address</label>
                                        <td>
                                            <input type="email" style="margin-bottom: .5em;" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <label for="inputPassword" class="sr-only">Password</label>
                                        <td>
                                            <input type="password" style="margin-bottom: .5em;" id="inputPassword" class="form-control" placeholder="Password" required="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            No account? <u>Sign up here.</u>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 mx-auto">
                            <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Node details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="sel1">Select a node:</label>
                                            <select class="form-control" id="sel1" data-live-search="true">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="sel2">Duration:</label>
                                            <select class="form-control" id="sel2">
                                                <option>1 Month</option>
                                                <option>6 Months</option>
                                                <option>12 Months</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-lg bg-white font-weight-bold pull-right" style="max-width: 50%; margin: auto; font-size: 16px;" type="submit">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i> Proceed to checkout
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Menu Toggle Script -->
</body>
</html>
