﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In</title>
</head>
<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li>
                    <a class="active-tab" href="#"><i class="fa fa-pie-chart"></i> Nodes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="max-width: 1280px;">
                <h2 class="text-center" style="margin-bottom: 32px;">Checkout</h2>
                <form>
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Purchase details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1 of This node
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            for x months
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            on account x****@gmail.com
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 mx-auto">
                            <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="sel1">Select payment method:</label>
                                            <select class="form-control" id="sel1" data-live-search="true">
                                                <option>blowjobs</option>
                                                <option>paypal</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total: $99.99
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-lg bg-white font-weight-bold pull-right" style="max-width: 50%; margin: auto; font-size: 16px;" type="submit">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pay
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Menu Toggle Script -->
</body>
</html>
