﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In</title>
</head>
<body>
    <div class="container text-center">
        <div class="loginblock">
            <h1 class="text-white" style="font-size: 48px; white-space: nowrap;">SHAREN<i class="fa fa-pie-chart"></i>DES.NET</h1>
            <p class="text-white">Secure sign-in with: </p>
            <button type="button" class="btn bg-white text-dark">
                <b><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</b>
            </button>
            <span class="text-white"> or </span>
            <button type="button" class="btn bg-white text-dark">
                <b><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google</b>
            </button>
            <p class="text-white" style="padding-top: .6em;">
                or enter your credentials below:
            </p>
            <div style="max-width: 50%; margin: auto;">
                <form class="form-signin">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" style="margin-bottom: .5em;" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" style="margin-bottom: .5em;" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <button class="btn btn-lg bg-white  font-weight-bold" style="max-width: 50%; margin: auto; font-size: 16px;" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                    </button>
                </form>
                <p class="text-white small" style="margin-top: .4em;">
                    No account? <u>Sign-up here.</u>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
