﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sharenodes</title>
</head>
<body>
<section>
    
    <form class="form-signin">
        @*<br>
            <h1 class="text-uppercase text-white text-center mb-0">Sharen<logo></logo>des</h1>
            <hr class="star-light" id="logintag" style="margin-bottom: 2.5rem;margin-top: 1.5rem">
            <h2 class="text-white text-center form-signin-heading"></h2>

            <div class="form-group">
                <label asp-for="Email" class="sr-only"></label>
                <input asp-for="Email" id="inputEmail" placeholder="Email address" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="sr-only"></label>
                <input asp-for="Password" id="inputPassword" placeholder="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>*@
        @*<label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">*@
        <!--
        <div class="checkbox">
            <label class="label-white">
            </label>
        </div>

        <input type="checkbox" value="remember-me" id="checkboxone">
        <label class="label-check" for="checkboxone"></label>

        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember Me
            </label>

        </div>
        </label>
        -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <i class="fa fa-sign-in"></i> Sign in
        </button>

        <br>
        <p class="text-white text-center">
            Or sign in with:
        </p>
    </form>
    </section>
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>

                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-vertical">

                    @foreach (var provider in loginProviders)
                    {
                        if (provider.Name == "Facebook")
                        {
                            <button type="submit" name="provider" class="btn btn-lg btn-secondary btn-block mx-auto" title="Log in using your @provider.DisplayName account" style="width: 200px">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook
                            </button>
                        }
                        else if (provider.Name == "Google")
                        {
                            <button type="submit" name="provider" class="btn btn-lg btn-secondary btn-block mx-auto" title="Log in using your @provider.DisplayName account" style="width: 200px">
                                <i class="fa fa-google-plus-official" aria-hidden="true"></i> Google
                            </button>

                            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                        }

                        //<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                    }

                </form>
            }
        }
    



        
        
        

   
    <style>
        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 200px;
            padding-bottom: 200px;
            background-color: #fff;
        }

        html,
        body {
            height: 100%;
        }
    </style>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
