﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Nodes</title>
</head>
<body>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li>
                    <a class="active-tab" href="#"><i class="fa fa-pie-chart"></i> Nodes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="max-width: 1280px;">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2 class="text-center">All Nodes</h2>
                        <script>
                            $(document).ready(function () {
                                $('#example').DataTable({
                                    "paging": false,
                                    "ordering": true,
                                    "info": false,
                                });
                            });
                        </script>
                        <style>
                            .dataTables_filter {
                                color: #181425;
                            }

                            .form-control {
                                background-color: #dfe5ed;
                            }
                        </style>
                        <table id="example" class="table table-hover table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Coin</th>
                                    <th>Balance*</th>
                                    <th>Interest**</th>
                                    <th>Price</th>
                                    <th>MarketCap</th>
                                    <th>ROI**</th>
                                    <th>Nodes</th>
                                    <th>#Required</th>
                                    <th>Nodeworth</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="white-space: nowrap;">
                                        <img class="cryptoimg" src="assets/CryptoLogos/MUE.png">1Coin
                                    </td>
                                    <td>3</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                    <td>$320,800</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">
                                        <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">2Coin
                                    </td>
                                    <td>4</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                    <td>$320,800</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">
                                        <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">3Coin
                                    </td>
                                    <td>5</td>
                                    <td>SanFrancisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    <td>$320,800</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">
                                        <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">3Coin
                                    </td>
                                    <td>5</td>
                                    <td>SanFrancisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    <td>$320,800</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td style="white-space: nowrap;">
                                        <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">3Coin
                                    </td>
                                    <td>5</td>
                                    <td>SanFrancisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    <td>$320,800</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="padding-left: 16px;"><small>*Your balance is automatically deposited into the node very 24 hours.<br>**Interest earned is automatically deposited into the node every 24 hours.<br>***Average, updated daily.</small></p>
                    </div>
                </div>
                <!--<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>-->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

</body>
</html>
