﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Settings</title>
</head>
<body>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pie-chart"></i> Nodes</a>
                </li>
                <li>
                    <a class="active-tab" href="#"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="max-width: 1280px;">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2 class="text-center" style="margin-bottom: 32px;">Settings</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>My Adresses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form">
                                            <label for="example-text-input" class="">Default send adress</label>
                                            <input class="form-control" type="text" value="x" id="deposit-number-default">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form">
                                            <label for="example-text-input" class="">Default withdraw adress</label>
                                            <input class="form-control" type="text" value="x" id="withdraw-number-default">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn bg-white">Confirm</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4 mx-auto">
                        <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>My Mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="form-check-label" style="margin-left: 1.5em;">
                                            <input type="checkbox" class="form-check-input" id="receiveconfirmmail">
                                            Enable withdraw email confirmation
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-check-label" style="margin-left: 1.5em;">
                                            <input type="checkbox" class="form-check-input" id="receivenewsmail">
                                            Receive news & site updates
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn bg-white">Confirm</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4 mx-auto">
                        <table class="table table-striped text-dark dt-responsive" style="width:100%; border-collapse: collapse !important; background-color: #dfe5ed;">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>My Account</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn bg-white">Delete my account</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Menu Toggle Script -->
</body>
</html>
