﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>
<body> 
    <header class="bg-primary text-white" id="headid" style="height:46em;">
        <div class="container text-center" style="white-space: nowrap;">
            <h1 style="font-size: 5em; color: #fff; text-shadow: 0.1em 0.1em #124F88;">SHAREN<i class="fa fa-pie-chart"></i>DES.NET</h1>
            <p class="lead" style="color: #fff; text-shadow: 0.1em 0.1em #124F88;">Cold Masternode Hosting Platform</p>
        </div>
        <br>
        <br>
        <div class="bg-none">
            <div class="row" style="margin-left: 4em; margin-right: 4em;">
                <div class="col-lg-5 mx-auto">
                    <br>
                    <p class="font-weight-bold text-white">Sharenodes.net is a cold masternode hosting platform that allows you to earn interest on your crypto capital.</p>
                    <ul class="list-group text-white" style="color: #181425;">
                        <li style="display: block;">
                            <i class="fa fa-user" style="margin-right: .8em;"></i> Our cold system allows you to host a node without the need to deposit any coins.
                        </li>
                        <li style="display: block;">
                            <i class="fa fa-pie-chart" style="margin-right: .8em;"></i> Pick any combination of nodes you wish to host. You control your capital.
                        </li>
                        <li style="display: block;">
                            <i class="fa fa-line-chart" style="margin-right: .6em;"></i> Earn and track interest in realtime with our convenient dashboard.
                        </li>
                        <li style="display: block;">
                            <i class="fa fa-upload" style="margin-right: .8em;"></i> Earn interest and/or cancel your node on a daily basis.
                        </li>
                    </ul>
                    <br>
                    <p class="text-white">To learn more, visit our <u><a class="text-dark font-weight-bold" href="">FAQ section</a></u></p>
                </div>
                <div class="col-lg-5 mx-auto">
                    <br>
                </div>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Pricing</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto text-dark">
                    <table id="1" class="table table-striped bg-white text-dark dt-responsive" style="border-collapse: collapse !important; background-color: #dfe5ed !important;">
                        <thead class="bg-dark text-white text-center">
                            <tr>
                                <th style="font-size: 1.2em;r">1 Month</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dedicated VPS </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Fully managed </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Quick setup </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Costumer service </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dashboard to monitor your node(s) </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Guaranteed uptime </td>
                            </tr>
                            <tr>
                                <td class="lead font-weight-bold text-center" style="white-space: nowrap;">
                                    €99/Month
                                    <button class="btn bg-secondary text-white">
                                        Order now
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 mx-auto text-dark">
                    <table id="2" class="table table-striped bg-white text-dark dt-responsive" style="border-collapse: collapse !important; background-color: #dfe5ed !important;">
                        <thead class="bg-dark text-white text-center">
                            <tr>
                                <th style="font-size: 1.2em;">6 Months</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dedicated VPS </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Fully managed </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Quick setup </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Costumer service </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dashboard to monitor your node(s) </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Guaranteed uptime </td>
                            </tr>
                            <tr>
                                <td class="lead font-weight-bold text-center" style="white-space: nowrap;">
                                    €98/Month
                                    <button class="btn bg-secondary text-white">
                                        Order now
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 mx-auto text-dark">
                    <table id="3" class="table table-striped bg-white text-dark dt-responsive" style="border-collapse: collapse !important; background-color: #dfe5ed !important;">
                        <thead class="bg-dark text-white text-center">
                            <tr>
                                <th style="font-size: 1.2em;">12 Months</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dedicated VPS </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Fully managed </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Quick setup </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Costumer service </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Dashboard to monitor your node(s) </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Guaranteed uptime </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;"> <i class="fa fa-check" aria-hidden="true"></i> Discord premium rank </td>
                            </tr>
                            <tr>
                                <td class="lead font-weight-bold text-center" style="white-space: nowrap;">
                                    €97/Month
                                    <button class="btn bg-secondary text-white">
                                        Order now
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="text-center text-white">Our masternodes</h2>
                    <script>
                        $(document).ready(function () {
                            $('#example').DataTable({
                                "paging": false,
                                "ordering": true,
                                "info": false,
                            });
                        });
                    </script>
                    <table id="example" class="table table-hover table-striped bg-white text-dark dt-responsive" style="width:100%; border-collapse: collapse !important;">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Coin*</th>
                                <th>Price</th>
                                <th>MarketCap</th>
                                <th>ROI**</th>
                                <th>Nodes</th>
                                <th>#Required</th>
                                <th>Nodeworth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/MUE.png">1Coin
                                </td>
                                <td>3</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">2Coin
                                </td>
                                <td>4</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">3Coin
                                </td>
                                <td>5</td>
                                <td>SanFrancisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/MUE.png">4Coin
                                </td>
                                <td>6</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012/03/29</td>
                                <td>$433,060</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/CRC.png">5Coin
                                </td>
                                <td>7</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008/11/28</td>
                                <td>$162,700</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <img class="cryptoimg" src="assets/CryptoLogos/MUE.png">6Coin
                                </td>
                                <td>8</td>
                                <td>New York</td>
                                <td>61</td>
                                <td>2012/12/02</td>
                                <td>$372,000</td>
                                <td>$320,800</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-white" style="padding-left: 16px;"><small>*Is the coin you wish to deposit not listed? Place a suggestion <u><a href="">here.</a></u><br>**Average, updated daily.</small></p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Join today!</h2>
                    <p class="lead">Our services are 100% secure. You can sign up with your Google or Facebook account in order to start earning rewards. Join today or find us on discord if you have any more questions.</p>
                    <iframe src="https://discordapp.com/widget?id=481087359979356180&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">FAQ / Contact / Terms </p>
            <p class="m-0 text-center text-white">Copyright &copy; Sharenodes 2018</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
