﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Terms of Service</title>
</head>
<body>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Terms and Conditions</h2>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">General</p>
                    <p>
                        These terms and conditions are an agreement between Sharenodes.net and you. This Agreement sets forth the general terms and conditions of your use of the http://www.sharenodes.net website and any of its products or services.
                    </p>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">Accounts and service</p>
                    <p>
                        If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we determine that you have violated any provision of this Agreement or that your conduct or content would tend to damage our reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register for our Services. We may block your email address and Internet protocol address to prevent further registration.
                    </p>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">Intellectual property rights</p>
                    <p>
                        This Agreement does not transfer to you any intellectual property owned by Website Operator or third-parties, and all rights, titles, and interests in and to such property will remain (as between the parties) solely with Website Operator. All trademarks, service marks, graphics and logos used in connection with our Website or Services, are trademarks or registered trademarks of Website Operator or Website Operator licensors. Other trademarks, service marks, graphics and logos used in connection with our Website or Services may be the trademarks of other third-parties. Your use of our Website and Services grants you no right or license to reproduce or otherwise use any Website Operator or third-party trademarks.
                    </p>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">Limitation of liability</p>
                    <p>
                        To the fullest extent permitted by applicable law, in no event will Website Operator, its affiliates, officers, directors, employees, agents, suppliers or licensors be liable to any person for (a): any indirect, incidental, special, punitive, cover or consequential damages (including, without limitation, damages for lost profits, revenue, sales, goodwill, use or content, impact on business, business interruption, loss of anticipated savings, loss of business opportunity) however caused, under any theory of liability, including, without limitation, contract, tort, warranty, breach of statutory duty, negligence or otherwise, even if Website Operator has been advised as to the possibility of such damages or could have foreseen such damages. To the maximum extent permitted by applicable law, the aggregate liability of Website Operator and its affiliates, officers, employees, agents, suppliers and licensors, relating to the services will be limited to an amount greater of one dollar or any amounts actually paid in cash by you to Website Operator for the prior one month period prior to the first event or occurrence giving rise to such liability. The limitations and exclusions also apply if this remedy does not fully compensate you for any losses or fails of its essential purpose.
                    </p>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">Changes and amendments</p>
                    <p>
                        We reserve the right to modify this Agreement or its policies relating to the Website or Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do we will revise the updated date at the bottom of this page. Continued use of the Website after any such changes shall constitute your consent to such changes.
                    </p>
                    <p class="lead" style="font-weight: 500; margin-bottom: 0px; margin-top: 24px;">Acceptance of these terms</p>
                    <p>
                        You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Website and its Services.
                    </p>
                    <br>
                    <p>Last updated on March 22nd, 2018.<br>Further questions? <u><a href="">Contact us</a></u>.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">FAQ / Contact / Terms </p>
            <p class="m-0 text-center text-white">Copyright &copy; Sharenodes 2018</p>
        </div>
        <!-- /.container -->
    </footer>

</body>
</html>
