﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SN</title>

    <environment include="Development">
        <!-- Bootstrap -->
        <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- CSS -->
        <link href="~/style.css" rel="stylesheet">
        <!-- Font Awesome-->
        <link rel="stylesheet" href="~/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Ubuntu Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700">
        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="~/assets/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
        <script type="text/javascript" language="javascript" src="~/assets/jQuery-3.2.1/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" language="javascript" src="~/assets/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="~/assets/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <!--Responsive DataTables Extension-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>
    </environment>

</head>
<body>

   <!--Render Navbar here-->

@RenderBody()
@RenderSection("Scripts", required: false)

</body>
</html>
