﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="navbar navbar-expand-md">
    <a class="navbar-brand text-white" href="#"><h2>Sharen<i class="fa fa-pie-chart" aria-hidden="true"></i>des</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">

                <a class="nav-link" href="@Url.Action("FAQ", "Home")"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Contact", "Home")"><i class="fa fa-comment" aria-hidden="true"></i> FAQ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Pricing", "Home")"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Masternodes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Dashboard", "Account")"><i class="fa fa-pie-chart" aria-hidden="true"></i> Masternodes</a>
            </li>
            

        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
        }
           
        </ul>
    </div>
</nav>
<style>
    /*This needs to be in the .html as .html /style tags override any css. Bootstrap does not play nice with its navbars.*/
    .navbar {
        background-color: #0095E9;
        color: #fff;
    }

    .nav-item a {
        color: #fff;
        font-weight: 700;
    }

        .nav-item a:hover {
            color: #124F88;
            font-weight: 700;
        }

    .navbar-brand {
        padding-bottom: 0px;
    }

        .navbar-brand h2:hover {
            padding-bottom: 0px;
            color: #124F88;
        }
</style>