/*--------------------------------------------------
DASH SECTION----------------------------------
*/
#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: #181425;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #fff;
        text-indent: 05px;
        line-height: 40px;
        font-weight: 500;
    }

        .sidebar-nav li a:hover {
            text-decoration: none;
            background: rgba(255, 255, 255, 1);
            color: #181425;
        }

.active-tab {
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
    color: #181425 !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#wrapper.toggled {
    padding-left: 150px;
}

    #wrapper.toggled #sidebar-wrapper {
        width: 150px;
    }

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

/*--------------------------------------------------
GENERAL SECTION----------------------------------
*/
.btn {
    border-radius: 0px;
}

    .btn:hover {
        background-color: #0095E9 !important;
    }

.loginblock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181425;
    padding: 24px;
    width: 100vw;
}

header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}

body {
    font-family: "Ubuntu";
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "Ubuntu";
    font-weight: 700 !important;
    color: #181425;
}

p {
    color: #181425;
}

.bg-primary {
    background-color: #0095E9 !important;
}

.bg-secondary {
    background-color: #8C9BB3 !important;
}

.bg-dark {
    background-color: #181425 !important;
}

.text-dark {
    color: #181425 !important;
}

.form-control {
    border-radius: 0px;
    border: 0px solid #fff;
}

.cryptoimg {
    overflow: hidden;
    width: 1.2em;
    margin: -12px;
    margin-left: -.25em;
    margin-right: .35em;
}

#headid {
    background-image: url("assets/infographic.png");
    background-repeat: no-repeat;
    background-position: 85% 80%;
    background-size: 25%;
}

/*--------------------------------------------------
DATATABLES SECTION----------------------------------
*/
.dataTables_filter {
    color: #fff;
}

.table th,
.table td {
    border-top: 0px solid #dee2e6 !important;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        position: relative;
        top: 0px;
        left: 4px;
        display: inline;
        font-family: FontAwesome;
    }

    table.dataTable thead th.sorting:after {
        content: "\f0dc";
        color: #ddd;
        font-size: 0.8em;
        padding-top: 0.12em;
    }

    table.dataTable thead th.sorting:before {
        content: "";
    }

    table.dataTable thead th.sorting_asc:after {
        content: "\f0dd";
        opacity: 1;
    }

    table.dataTable thead th.sorting_asc:before {
        content: "";
    }

    table.dataTable thead th.sorting_desc:after {
        content: "\f0de";
    }

    table.dataTable thead th.sorting_desc:before {
        content: "";
    }

table.table-hover tbody tr:nth-child(even):hover td {
    background-color: #0095E9 !important;
}

table.table-hover tbody tr:nth-child(odd):hover td {
    background-color: #0095E9 !important;
}
